.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
}
.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
    color: white;
    padding: 0.05rem 1rem;
    /* border-radius: 5px; */
    font-weight: bold;
    margin-left: 1vw;
}

.form button:hover,
.form button:active {
    background-color: lightslategray;
    border-color: lightslategray;
}

label {
    color: #444444;
}

.button,
input {
    height: 4vh;
}

input {
    width: 3vw;
}
