.meal {
    display: flex;
    justify-content: space-between;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between; */
    margin: 0.1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.meal h3 {
    margin: 0 0 0.25rem 0;
    color: #444444;
}

.description {
    font-size: 0.9rem;
    font-style: italic;
    color: lightslategray;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: lightslategray;
    font-size: 1.25rem;
}
