.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    height: 9vh;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh 5vw 0vh 5vw;
    color: white;

    z-index: 10;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
}

.main-image {
    margin-top: 0vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
}

/* .main-image img {
    width: 110%;
    height: 100%;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
} */
